/* Color palette */
:root {
    --primary-orange: #FF8C00;
    --accent-orange: #FFA743;
    --accent-orange-dark: #ad5c00;
    --accent-orange-light: #ffc079;
    --friendly-orange: #FFF3E0;
    --white: #FFFFFF;
    --black: #000000;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: none;
}

/* Buttons */
button, .btn {
    background-color: var(--accent-orange-light) !important;
    color: var(----black) !important;
    height: 2.5em;
    width: 100%;
    font-size: 20pt;
    font-weight: bold;
    border-radius: 50px;
    border-width: 0.25em;
    border-color: var(--black);
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin: 2em 0 1em 0;
    display: flex;
    align-items: center;      
    justify-content: center;  
    text-align: center;     
    padding: 0 20px;         
    line-height: 1;        
    box-shadow: 0.2em 0.7em 1.5em  rgba(0, 0, 0, 0.2);  
    
}

button img, .btn img {
    height: 1.2em;
    width: 1.2em;
    margin-left: 1.2em;
}


button:hover, .btn:hover {
    background-color: var(--accent-orange) !important;
    color: var(----black) !important;
}

header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: space-between; 
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--accent-orange-dark);
    box-shadow: 0px 0.35em 0.75em  rgba(0, 0, 0, 0.1);
}

.header-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

h1, header h1 {
    font-size: 20pt;
    padding-top: 0.9em;
    padding-bottom: 0.5em;
    font-weight: bold;   
    color: var(--white); 
    text-align: center; 
    font-family: Arial, sans-serif;
    text-shadow: 0.05em 0.05em 0.1em rgba(0, 0, 0, 0.3);
}

body {
    background-color: var(--friendly-orange);
    color: var(--black);
    font-family: Arial, sans-serif;
}

.container {
    max-width: 100vw;
    margin: auto;
    padding: 2em;
}

.cart-item {
    border: 5px solid var(--black);
    border-top: none;
    border-bottom: none;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    box-shadow: 0.2em 0.7em 1.5em  rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
}

.cart-item:first-child {
    border-top: 5px solid var(--black);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    /* border-bottom: 2px dashed var(--black); */
}

.cart-item .name {
    font-weight: bold;
    color: var(--black);
}

.cart-item .details {
    font-weight: bold;
    text-align: right;
    color: var(--black);
}

.cart-total {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: var(--primary-orange);
    color: var(--white);
    text-align: right;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    text-shadow: 0.05em 0.05em 0.1em rgba(0, 0, 0, 0.3);
    box-shadow: 0.2em 0.7em 1.5em  rgba(0, 0, 0, 0.2);
    border: 5px solid var(--black);
    border-top: 5px solid var(--black);
}

.empty-cart-image-center {
    text-align: center;
    margin-top: 2em;
    opacity: 0.25;
}

#video, #canvas, #video-feed {
  width: 100%;
  height: auto;
}

backbutton, .backbutton {
    font-size: 36pt;
    color: var(--white);
    background: none;
    border: none;
    cursor: pointer;
    text-shadow: 0.05em 0.05em 0.1em rgba(0, 0, 0, 0.3);
}

settingsbutton, .settingsbutton {
    font-size: 36pt;
    color: var(--white);
    background: none;
    border: none;
    cursor: pointer;
    text-shadow: 0.05em 0.05em 0.1em rgba(0, 0, 0, 0.3);
}

.empty-cart-image-center img {
    max-width: 80vw;
}

.speaker-icon {
    transition: transform 0.1s ease;
    cursor: pointer;
}

/* The "Pressed" state - we will trigger this with JS */
.speaker-icon.pressed {
    transform: scale(0.7); 
    filter: brightness(0.8);
}

.btn-clear {
    background-color: #fc0606 !important;
    color: white !important;
    margin-top: 10px; 
    width: 100%;    
}

.btn-clear:hover {
    background-color: #d30505 !important; 
    color: white !important;
}

/* This happens the EXACT moment you press the mouse/finger down */
.btn-clear:active {
    background-color: #5a0000 !important; /* A much darker red */
    transform: translateY(4px); /* Moves the button down 4 pixels */
    box-shadow: 0.1em 0.2em 0.5em rgba(0, 0, 0, 0.4) !important; /* Shrinks the shadow */
    transition: 0.1s; /* Makes the "push" feel instant */
}