<!DOCTYPE html>
<html>
<head>
    <title>Cart</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<header>
    <backbutton class="backbutton" onclick="goBack()">&#8249;</backbutton>
         <script>
             function goBack() {
               window.history.back();
             }
          </script>
    <h1>{{ _("Cart") }}</h1>
    <settingsbutton class="settingsbutton">
        <img src="{{ url_for('static', filename='img/language.svg') }}" alt="Language Icon" width="32" height="32">
    </settingsbutton>
</header>

<body>
<div class="container mt-3" >

    {% if cart %}
        {% for item in cart %}
        <div class="cart-item">
            <div class="name">{{ item.name }}</div>
            <div class="details">
                RM{{ "%.2f"|format(item.price) }} × {{ item.quantity }} = RM{{ "%.2f"|format(item.price * item.quantity) }}
            </div>
        </div>
        {% endfor %}

        <div class="cart-total">
            Total: RM{{ "%.2f"|format(total) }}
        </div>

        <form id="finishForm" method="post" action="{{ url_for('finish_cart') }}">
            <button type="submit" class="btn" data-text="Finish">{{ _("Finish") }} <img src="{{ url_for('static', filename='img/finish.svg') }}" alt="Button Icon"> </button>
                    <script src="{{ url_for('static', filename='tts.js') }}"></script>

        </form>
    {% else %}
        <p class="text-center">{{ _("Cart is empty.") }}</p>

        <script>
          const audioUrl = `/static/tts_output/Your cart is empty.mp3`;
          const audio = new Audio(audioUrl);
          console.log("Audio URL:", audioUrl); 
          audio.play();
        </script>

        <div class="empty-cart-image-center">      
               <img src="{{ url_for('static', filename='img/empty_cart.svg') }}" width="640" height="480" alt="Button Icon">
        </div>

        
    {% endif %}
</div>


<script>
    document.addEventListener('DOMContentLoaded', () => {
        const speech = window.speechSynthesis;

        function speakText(text) {
            if (speech.speaking) {
                speech.cancel();
            }
            const utterance = new SpeechSynthesisUtterance(text);
            speech.speak(utterance);
        }

        const cartTotalElement = document.querySelector('.cart-total');
        
        // If the cart total element exists, speak the total price
        if (cartTotalElement) {
            const cartTotalText = cartTotalElement.textContent.trim().replace('RM','');
            speakText(cartTotalText + "Ringgits");
        }
    });
</script>


</body>
</html>
